*{
    padding: 0;
    margin: 0;
}

.pa__box{
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
}
.pa__pic{
    width: 100%;
}
.pa__home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.pa__play{
    border: none;
    background-image: url("../img/play.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    margin-bottom: 59px;
}
.pa__name-video{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    padding-bottom: 29px;
}
.pa__description{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #ffffff;
    padding-bottom: 40px;
}

.pa__time{
    color: #9c8e7f;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
.pa__box::before{
    position: absolute;
    content: "";
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
